body {
    font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
}

html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
	width: calc(100vw + 18px);
	overflow: auto;
}

.search_container {
    width: 50%;
    max-height: 100px;
    padding: 5%;
    background-image: linear-gradient(red, yellow, blue);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_bar {
    width: 50%;
    max-width: 500px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}