body {
    font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
}

html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
	width: calc(100vw + 18px);
	overflow: auto;
}

.search_container {
    align-items: center;
    justify-content: center;
}

.search_bar {
    width: 40%;
    max-width: 500px;
    background-color: rgb(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    transform: translate(50%, -50%);
    border-radius: 60px;
    padding: 10px 20px;
}

/* .search_bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: wheat;
} */